{% extends "base.html" %} {% block title %} SQuirreL | Chat {% endblock %} {%
block content %}
<div class="flex flex-col w-full lg:flex-row">
  <div class="grid flex-grow card place-items-center h-lvh">
    <form
      class="flex flex-col justify-center items-center gap-8 w-11/12"
      id="form"
      onsubmit="submitForm(event)"
    >
      <input
        type="text"
        placeholder="Enter your database username"
        class="input input-bordered w-full max-w-xl"
        id="username"
        required
      />
      <input
        type="password"
        placeholder="Enter your database password"
        class="input input-bordered w-full max-w-xl"
        id="password"
        required
      />
      <input
        type="text"
        placeholder="Enter your database host"
        class="input input-bordered w-full max-w-xl"
        id="host"
        required
      />
      <input
        type="number"
        min="0"
        max="65535"
        placeholder="Enter your database port"
        class="input input-bordered w-full max-w-xl"
        id="port"
        required
      />
      <input
        type="text"
        placeholder="Enter your database name"
        class="input input-bordered w-full max-w-xl"
        id="dbname"
        required
      />
      <textarea
        placeholder="Enter your question"
        class="textarea textarea-bordered textarea-sm w-full max-w-xl"
        id="query"
        required
      ></textarea>

      <button class="btn btn-accent w-1/5" id="submit">Submit</button>
    </form>
  </div>
  <div class="divider lg:divider-horizontal"></div>
  <div class="grid flex-grow card place-items-center h-lvh">
    <div class="flex flex-col flex-wrap w-4/5 h-4/5 border-opacity-50">
      <div
        class="grid h-32 card place-items-center overflow-scroll"
        id="generatedQuery"
      >
        Generated queries will be shown here
      </div>
      <div class="divider">
        <button
          class="btn btn-primary bg-transparent border-transparent"
          id="runQuery"
        >
          Execute Query
        </button>
        <button
          class="btn btn-primary bg-transparent border-transparent"
          id="copyQuery"
        >
          Copy Query
        </button>
      </div>
      <div class="grid h-80 card place-items-center overflow-auto max-w-full">
        Queiries will be executed here if user clicks on execute query
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='scripts/script.js')}}"></script>
{% endblock %}
