{% extends "base.html" %}

{% block title %} SQuirreL {% endblock %}

{% block content %}

<body>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="{{url_for('static', filename='images/pnglogo.png')}}" class="max-w-sm rounded-lg" />
      <div>
        <h1 class="text-5xl font-bold">Chat, Crunch, Code!</h1>
        <p class="py-6 text-xl">
          SQuirreL: Simplifying data tasks. Chat, watch queries become SQL. No
          syntax struggles. Empowering users, saving time. Your smart SQL
          companion, making database tasks intuitive.
        </p>
        <a href="/chat">
          <button class="btn btn-primary">
            Get Started
          </button></a>
      </div>
    </div>
  </div>

  <script src=" {{ url_for('static', filename='scripts/script.js') }} "></script>
</body>
{% endblock %}